# Ignore everything
*

# But not these
!.gitignore
!.zshrc
!.config/
!screenshot/

# Allow only relevant .config subdirectories
!.config/i3/
!.config/i3/**
!.config/i3blocks/
!.config/i3blocks/**
!.config/i3status/
!.config/i3status/**
!.config/kitty/
!.config/kitty/**
!.config/nvim/
!.config/nvim/**
!.config/rofi/
!.config/rofi/**
!.config/dunst/
!.config/dunst/**
!.config/zed/
!.config/zed/**
!.config/ranger/
!.config/ranger/**
!.config/fastfetch/
!.config/fastfetch/**
!README.md

# Ignore everything else inside .config
.config/a2j
.config/alacritty
.config/android
.config/aurman
.config/autostart
.config/blender
.config/bluetuith
.config/BraveSoftware
.config/btop
.config/Cadence
.config/cava
.config/celluloid
.config/Code
.config/Code - OSS
.config/composer
.config/dconf
.config/Electron
.config/environment.d
.config/falkTX
.config/flutter
.config/fontconfig
.config/GIMP
.config/Google
.config/gtk-3.0
.config/gtk-4.0
.config/guitarix
.config/guvcview2
.config/htop
.config/hypr
.config/inkscape
.config/jack
.config/libreoffice
.config/lxqt
.config/mimeapps.list
.config/monero-project
.config/mozilla
.config/mpd
.config/mpv
.config/musikcube
.config/ncmpcpp
.config/nextjs-nodejs
.config/nwg-look
.config/obsidian
.config/onlyoffice
.config/openbox
.config/pavucontrol.ini
.config/pcmanfm-qt
.config/picom
.config/pipewire
.config/polybar
.config/pulse
.config/qalculate
.config/qterminal.org
.config/QtProject.conf
.config/rncbc.org
.config/Signal
.config/ss.png
.config/supertuxkart
.config/systemd
.config/Thunar
.config/user-dirs.dirs
.config/user-dirs.locale
.config/VSCodium
.config/waybar
.config/waypaper
.config/weechat
.config/wintc
.config/wofi
.config/xfce4
.config/xsettingsd
.config/yay

# Home directory ignores
.android
.asoundrc
.backup.zshrc.chicago95
.bash_history
.bash_logout
.bash_profile
.bashrc
.bitmonero
.cache
.cargo
.dart-cli-completion
.dartServer
.dart-tool
.DCIM
.dotnet
.emacs.d
.fehbg
.flutter
.flutter-devtools
.fontconfig
.fonts
.gitconfig
.gitconfig-personal
.gitconfig-work
.git-credentials
.gnupg
.gradle
.gtkrc-2.0
.ICEauthority
.icons
.jackdrc
.java
.librewolf
.local
.lock-personal
.log
.lyrics
.mutt
.muttrc
.nb
.nbrc
.newsboat
.npm
.nuget
.oh-my-zsh
.omnisharp
.pki
.pub-cache
.pulse
.rustup
.ServiceHub
.shell.pre-oh-my-zsh
.ssh
.supermaven
.templateengine
.themes
.viminfo
.vscode
.vscode-oss
.wget-hsts
.xinitrc
.Xdefaults
.Xresources
.xscreensaver
.zen
.zsh_history
.zcompdump
.zcompdump-archmachine-5.9
.zcompdump-archmachine-5.9.zwc
.zcompdump-machine-5.9
.zcompdump-machine-5.9.lock
.zcompdump-machine-5.9.zwc

# Directories
Android/
AndroidStudioProjects/
Desktop/
Documents/
Downloads/
Games/
go/
Music/
personal/
Personal/
Pictures/
Public/
scripts/
Templates/
Videos/
dotfiles/
java_error_in_studio.hprof
