* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    background: #1a1a1a;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    margin-right: 0px;
}

#workspaces button {
    padding: 3px 8px;
    background-color: transparent;
    color: #808080;
    font-size: 16px;
    margin: 0px;
    border-bottom: 1px solid transparent;
}

#workspaces button:hover {
    color: #fff;
}

#workspaces button.active {
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid #ffffff;
}

#workspaces button.urgent {
    animation: blink 0.5s linear infinite alternate;
}

#window {
    background: #1a1a1a;
    color: #F7BAD7;
    border-radius: 5px;
    padding: 3px 8px;
    margin: 0px;
    font-weight: 500;
}

#clock, #custom-weather {
    background: #1a1a1a;
    color: #b0acac;
    border-radius: 5px;
    padding: 3px 8px;
    margin: 0px;
    font-weight: bold;
}

#custom-media, 
#memory,
#battery,
#backlight,
#network,
#pulseaudio,
#bluetooth,
#custom-screenshot,
#tray {
    background: #1a1a1a;
    color: #cdd6f4;
    border-radius: 5px;
    padding: 2px 8px;
    margin: 0px;
    border: 1px solid transparent;
}

#tray {
  border: 1px solid #ffffff;
  border-radius: 50%;
}
#memory {
    color: #ffffff;
}

#network {
    color: #F7BAD7;
}

#bluetooth {
    color: #77fce2;
}

#backlight {
    color: #C8F7BA;
}

#custom-screenshot {
    color: #ffffff;
}

#battery {
    color: #C8F7BA;
}
#pulseaudio {
    color: #F7BAD7;
}
#custom-screenshot {
    color: #9df5e3;
}

tooltip {
    background: #1a1a1a;
    border-radius: 5px;
}

tooltip label {
    color: #cdd6f4;
}

